<div class="game-container">
  <div class="game-header">
    <div class="score-block">
      <h3 class="best-score left" [ngClass]="{'new-best-score': newBestScore}">Score: {{popuplation.snakes[0].score}}</h3>
      <h3 class="best-score left" [ngClass]="{'new-best-score': newBestScore}">snakePopulationHighScore: {{popuplation.snakePopulationScore}}</h3>
      <h3 class="best-score left" [ngClass]="{'new-best-score': newBestScore}">snakeBestHighScore: {{popuplation.snakeBestHighScore}}</h3>
      <h3 class="best-score left" [ngClass]="{'new-best-score': newBestScore}">snakeMaxFruitsHighScore: {{popuplation.snakeMaxFruitsHighScore}}</h3>

      <h3 class="best-score" [ngClass]="{'new-best-score': newBestScore}">Generation: {{popuplation.generation}}</h3>

      <h3 class="best-score1 right" [ngClass]="{'new-best-score': newBestScore}">fitnessSum: {{popuplation.fitnessSum}}</h3>
      <h3 class="best-score1 right" [ngClass]="{'new-best-score': newBestScore}">snakeBestScore: {{popuplation.snakeBestScore}}</h3>
      <h3 class="best-score1 right" [ngClass]="{'new-best-score': newBestScore}">snakeMaxFruits: {{popuplation.snakeMaxFruits}}</h3>
    </div>
  </div>
  <div class="row" *ngFor="let column of popuplation.snakes[0].board; let i = index;">
    <div class="column" [ngStyle]="{'background-color': setColors(i, j)}" *ngFor="let row of column; let j = index"></div>
  </div>
  <div class="start-button" [ngClass]="{'disable-clicks': gameStarted}" (click)="showMenu()">Stop</div>
  <div class="new-game-menu" *ngIf="showMenuChecker">
    <span class="new-game-menu-label">Select Mode</span>
    <div class="start-button new-game-button" (click)="newGame(mode)" *ngFor="let mode of getKeys(all_modes)">{{all_modes[mode]}}</div>
  </div>
</div>

<label>Speed</label>
